@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body {
    margin: 0;
    padding: 0;
    background: #F1F1F1;
}

body {
    padding: 0 70px;
}

* {
    font-family: 'Roboto Slab', serif;
}

/* HEADER */
header {
    padding: 20px;
}

header h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    margin-top: 70px;
    margin-bottom: 36px;
    color: #333;
}

header h1 span {
    display: inline-block
}

header h1 span::first-letter {
    font-size: 56px;
}

header h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
}

header h2::first-letter {
    color: #007c89;
    font-size: 34px;
}

/* MAIN */
main {
    padding: 20px;
}

main section h2 {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #333333;
    padding-bottom: 18px;
    border-bottom: 2px solid #b1b8c4;
    position: relative;
}

main section h2::after {
    display: block;
    width: 60px;
    height: 4px;
    bottom: -3px;
    content: "";
    background: #007c89;
    position: absolute;
}

/* CONTACTS */
main section.contact {
}

main section.contact ul {
    padding: 0;
    list-style: none;
    margin: 25px 0;
}

main section.contact ul li {
    display: inline-block;
}

main section.contact ul li + li {
    margin-left: 5px;
}

main section.contact ul li img {
    width: 50px;
}

main section.contact .direct {
    margin: 25px 0;
}

main section.contact .direct a, main section.contact .direct span {
    color: #333333;
    font-size: 24px;
}

/* BOOKS / PROJECTS */
main section.books article, main section.projects article {
    display: inline-block;
}

main section.books article + article, main section.projects article + article {
    margin-left: 20px;
}

main section.books .book, main section.projects .project {
    display: inline-block;
    padding-top: 0;
    background: #FFFFFF;
    padding: 35px 20px 45px;
    width: 180px;
    margin: 25px 0;
    cursor: pointer;
    border: 2px solid #cfd4db;
    -webkit-box-shadow: 10px 10px 0 0 #cfd4db;
    -moz-box-shadow: 10px 10px 0 0 #cfd4db;
    box-shadow: 10px 10px 0 0 #cfd4db;
    -webkit-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

main section.books .book:hover, main section.projects .project:hover {
    -webkit-box-shadow: 12px 12px 5px 1px #cfd4db;
    -moz-box-shadow: 12px 12px 5px 1px #cfd4db;
    box-shadow: 12px 12px 5px 1px #cfd4db;
    transform: scale(1.02);
}

main section.books .book a, main section.projects .project a {
    text-decoration: none;
}

main section.books .book h3, main section.projects .project h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    color: #e91e63;
}

main section.books .book h3 span, main section.projects .project h3 span {
    display: block;
    font-size: 12px;
    color: #666666;
}

main section.books .book .author, main section.projects .project .author {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #666;
    margin: 0 0 6px;
}

main section.books .book .date, main section.projects .project .date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    color: #909090;
    text-transform: uppercase;
}

/* CODING */
main section.coding article {
    display: inline-block;
    padding-top: 0;
    vertical-align: middle;
    background: #FFFFFF;
    padding: 35px 20px 45px;
    width: 100%;
    margin: 25px 0;
    cursor: pointer;
    border: 2px solid #cfd4db;
    -webkit-box-shadow: 10px 10px 0 0 #cfd4db;
    -moz-box-shadow: 10px 10px 0 0 #cfd4db;
    box-shadow: 10px 10px 0 0 #cfd4db;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

main section.coding article:hover {
    -webkit-box-shadow: 12px 12px 5px 1px #cfd4db;
    -moz-box-shadow: 12px 12px 5px 1px #cfd4db;
    box-shadow: 12px 12px 5px 1px #cfd4db;
    transform: scale(1.02);
}

main section.coding article:nth-child(even) {
    width: 47%;
    margin-right: 2.5%;
}

main section.coding article:nth-child(odd) {
    width: 47%;
    margin-left: 2.5%;
}

main section.coding article h3 {
    color: #007c89;
    font-size: 20px;
    overflow-wrap: break-word;
}

main section.coding article h3::first-letter {
    font-size: 25px;
    text-transform: capitalize;
}

main section.coding article a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #cfd4db;
    margin: 15px;
    margin-left: 0;
    padding: 15px;
    color: #007c89;
}

@media only screen and (max-width: 917px) {
    main section.books article:nth-child(even), main section.projects article:nth-child(even) {
        margin-left: 15px;
    }

    main section.coding article:nth-child(even) {
        width: 100%;
        margin-right: 0;
    }
    
    main section.coding article:nth-child(odd) {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 683px) {
    main section.books article + article, main section.projects article + article {
        margin: auto;
    }
    
    main section.books article:nth-child(even), main section.projects article:nth-child(even) {
        margin: auto;
    }
}

@media only screen and (max-width: 490px) {
    body {
        padding: 0 30px;
    }

    header h1 span {
        display: block
    }
}

@media only screen and (max-width: 420px) {
    body {
        padding: 0;
    }
    
    main section.contact ul li + li {
        margin-left: 0;
    }
    
    main section.books .book, main section.projects .project, main section.books article, main section.projects article {
        width: 100%;
        box-sizing: border-box;
    }
}