// out: ../css/style.css, sourcemap: false, compress: true

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@siteFontFamily: 'Source Sans Pro', sans-serif;

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.boxShadow(@context) {
  -webkit-box-shadow: @context;
  -moz-box-shadow: @context;
  box-shadow: @context;
}

.borderRadius(@context) {
	border-radius: @context;
	-moz-border-radius: @context;
	-webkit-border-radius: @context;
}

.backgroundSize(@size) {
  -webkit-background-size: @size;
  background-size: @size;
  -moz-background-size: @size;
}

.button-primary {
	width: 300px;
	height: 30px;
	text-decoration: none;
	font-weight: 300;
	font-size: 24px;
	font-family: @siteFontFamily;
	border: 2px solid @colorSteelBlue;
	padding: 10px;
	.borderRadius(50px);
	cursor: pointer;
	background: transparent;
	color: @colorWhite;
	text-align: center;
	&:hover {
		border-color: @colorWhite;
	}
}


@colorSteelBlue: #477cab;
@colorBlumine: #1D6989;
@colorWhite: #FFFFFF;
@colorBlack: #000000;

@colorGreenBackFade: #2f6f3b;
@colorBackForm: #00303E;
@colorDoveGray: #737373;
@colorCyprus: #00303E;
@colorCosmic: #633762;
@colorWildSand: #F6F6F6;
@colorTundora: #404040;

@lg-max: 1200px;
@md-max: 992px;
@sm-max: 790px;
@xs-max: 480px;

html, body {
  margin: 0;
  padding: 0;
	background-color: @colorWhite;
}

body {
	background-color: @colorWhite;
}

.backfade {
  background-color: @colorBlumine;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.info {
  z-index: 99;
  vertical-align: top;
  position: fixed;
  height: 100%;
  width: 65%;

  img {
    width: 20%;
    position: absolute;
    right: 0;
    margin: 3%;
  }

  h1 {
    margin: 3%;
    font-family: @siteFontFamily;
    color: @colorWhite;

    p {
      &:first-child {
        font-size: 30px;
      }
      &:last-child {
        font-size: 24px;
      }
    }
  }
}

.form {
  z-index: 999;
  background-color: @colorBackForm;
  top: 1%;
  right: 5%;
  position: fixed;
  width: 30%;
  height: 99%;
}



.header {
	background-color: @colorCyprus;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 50px;
	white-space: nowrap;
	padding: 10px 0;
	top: 0;
  z-index: 999;

	.me {
		text-align: left;
		width: 48%;
		display: inline-block;

		img, h2 {
			display: inline-block;
     	padding: 0;
    	margin: 0;
		}

		img {
			border-radius: 50px;
			width: 50px;
		}

		h2 {
      line-height: 50px;
	    position: absolute;
	    font-size: 23px;
	    font-family: @siteFontFamily;
	    color: @colorWhite;
	    margin-left: 15px;

			@media (max-width: 650px) {
	      line-height: 17px;
		    font-size: 17px;
     		width: 105px;
				display: inline-block;
				white-space: initial;
			}
		}
	}

	.get-book {
		text-align: right;
		width: 48%;
		display: inline-block;

		a {
			img {
				height: 50px;
			}
		}
	}
}

.banner-info {
	position: relative;
	background-image: url('../images/coder.jpg');
  background-repeat: no-repeat;
	background-color: @colorDoveGray;
	background-position: top left;
	background-size: contain;
	margin-top: 70px;
	text-align: right;
	width: 100%;
	height: 480px;
	top: 0;

	.book-info {
		position: relative;
		width: 48%;
    display: inline-block;
    text-align: center;
    height: 100%;

		@media (max-width: 900px) {
			width: 65%;
		}

		@media (max-width: 650px) {
			width: 75%;
     	opacity: 0.95;
		}

		&::before {
			content: '';
		  background-color: @colorBlumine;
		  opacity: 0.5;
		  position: absolute	;
		  width: 100%;
		  height: 100%;
		  top: 0;
		  left: 0;
		  z-index: 9;

			@media (max-width: 650px) {
		  	opacity: 0.9;
			}
		}

		.book {
			display: inline-block;
			text-align: center;
			width: 100%;
	    z-index: 99;
	    position: inherit;

			.book-image {
				display: inline-block;
     		vertical-align: top;
				padding: 0;
     		text-align: center;

				img {
					display: inline-block;
			    height: 570px;
			    margin-top: -238px;

					@media (max-width: 1280px) {
				    height: 570px;
				    margin-top: -238px;
					}

					@media (max-width: 650px) {
						height: 420px;
						margin-top: -175px;
					}
				}

				a:last-child {
					display: inline-block;
					img {
						margin: auto;
						height: 70px;
					}
				}
			}

		}
	}
}

.questions {
	text-align: center;

	.question {
  	padding: 20px 120px;

		@media (max-width: 550px) {
			padding: 20px 40px;
		}

		&:nth-child(odd) {
			background-color: @colorWildSand;
		}

		&:last-child {
			p {
				span {
					font-size: 14px;
		    	padding: 19px 6px;
				}
			}
		}

		h2 {
			font-family: @siteFontFamily;
			color: @colorCosmic;
	    border-bottom: 3px solid @colorCosmic;
		}

		p {
			font-family: @siteFontFamily;
			color: @colorBlack;

			span {
				display: inline-block;
		    color: #FFFFFF;
		    background-color: #633762;
		    width: 42px;
		    font-size: 18px;
		    padding: 16px 6px;
		    border-radius: 55px;
			}
		}
	}

}

.conversion {
	text-align: center;

	h1 {
		margin: 0;
    margin-top: 30px;
		padding: 0;
		font-size: 40px;
		font-family: @siteFontFamily;
		color: @colorCosmic;
	}

	p {
		margin: 0;
		padding: 0 270px;
		color: @colorBlack;
		font-family: @siteFontFamily;

		@media (max-width: 900px) {
			padding: 0 20px;
		}
	}

	h2 {
		a {
			text-decoration: none;

			span {
				font-size: 25px;
				font-family: @siteFontFamily;
				color: @colorCosmic;
				border-bottom: 2px solid @colorCosmic;
				padding-bottom: 10px;
			}
		}

	}

	strong {
		font-size: 20px;
		color: @colorCosmic;
	}

	a {
		font-weight: 600;
	}

	img {
		display: inline-block;
		width:  230px;
	}
}

.footer {
	margin-top: 50px;
  width: 100%;
  min-height: 100px;
  background-color: @colorWildSand;
  text-align: center;
	padding-bottom: 50px;

	.title {
		background-color: @colorTundora;

		h3 {
			margin: 0;
			padding: 20px;
			color: @colorWhite;
			font-family: @siteFontFamily;
		}
	}

	.content {
		ul {
	    display: inline-block;
	    padding: 0;
	    li {
	      display: inline;
	      a {
	        img {
	          width: 50px;
	          margin: 5px;
	        }
	      }
	    }
	  }
	}
}
